/* Google fonts */
/* font-family: 'Bitter', serif; */
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700;800&display=swap');
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/* Global */
*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    margin: 5px 40px;
    padding: 30px;
}
.btn{
    padding: 12px 24px;
    font-family: 'Bitter', serif;
    font-size: 20px;
    font-weight: 600;
    color: tomato;
    background-color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 5px lightgray;
    cursor: pointer;
}

/* Header  */
.nav-wrapper{    
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 10px 2px grey;
    height: 60px;
    align-items: center;
    padding: 0px 15px;
}
.logo{
    font-size: 30px;
    font-family: 'Bitter', serif;
    color: rgb(235, 36, 36);
}
.logo b em{
    border: 3px solid black;
    border-radius: 50%;
}
.navigation ul{
    display: flex;
    justify-content: center;
}
.navigation ul li{
    margin: 5px;
    list-style: none;
}
.navigation ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.931);
    padding: 8px 12px;
    font-size: 15px;
    border-radius: 5px;
    transition: .5s;
}
.navigation ul li:hover a{
    background-color: rgb(235, 36, 36);
}

/* Top banner section  */
.top-banner{
    width: 100%;
    height: 350px;
    margin-bottom: 100px;
    background-image: url("images/top-banner.jpg");
    background-repeat: no-repeat;
}
.top-banner-text{
    width: 50%;
    margin-top: 90px;
    text-align: center;
}
.top-banner-text h1{
    font-family: 'Bitter', serif;
    font-size: 50px;
    color: tomato;
}

/* About me section  */
.about-me{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 90px;
}
.about-me h1{
    font-family: 'Bitter', serif;
    font-size: 24px;
    color: tomato;
    margin-bottom: 50px;
}
.about-me-box{
    width:600px ;
    padding: 10px;
    box-shadow: 5px 5px 20px 5px gray;
    border-radius: 8px;
}
.about-me-box p{
    font-size: 14px;
    width: 495px;
    text-align: center;
    margin: auto;
}
.about-me-box p span{
    font-family: 'Bitter', serif;
    font-size: 28px;
    font-weight: 500;
    color: tomato;
}

/* Resume section  */
.resume-wrapper{
    display: flex;
    justify-content: space-between;
}
.side-image{
    width: 40%;
}
.side-image img{
    width: 60%;
    border-radius: 50%;
}
.summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    text-align: center;
}
.title-area{
    display: flex;
    flex-direction: column;
}
.first-row, .sec-row{
    display: flex;
    justify-content: center;
}
.first-row > div, .sec-row > div{
    display: flex;
    justify-content: center;
    margin: 25px;
    text-align: center;
}
.fas{
    margin: auto;
    font-size: 22px;
    color: tomato;
}
.detail{
    margin: 0 30px;
    font-size: 13px;
}
.detail b{
    font-size: 22px;
    color: tomato;
}
.summary .btn{
    margin-top: 20px;
}

/* My services */
.services{
    margin: 60px 0;
}
.services header{
    font-family: 'Bitter', serif;
    font-size: 24px;
    margin-bottom: 40px;
    color: tomato;
    text-align: center;
}
.service{
    display: flex;
    justify-content: space-evenly;
}
.web-design, .web-development{
    padding: 20px 0;
    display: flex;
    width: 340px;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    box-shadow: 1px 3px 20px 0px lightsalmon;
}
.web-design .fas, .web-development .fas{
    background-color: white;
    border-radius: 0px 10px 10px 0px;
    padding: 8px;
    box-shadow: 1px 1px 5px gray;
}
.design-detail h3, .devlopment-detail h3{
    color: tomato;
    margin: 10px;
}
.design-detail p, .devlopment-detail p{
    margin: 0 15px;
}

/* Recent work  */
.recent-works{
    margin-bottom: 90px;
}
.recent-works  h1{
    font-family: 'Bitter', serif;
    color: tomato;
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}
.works-wrapper{
    display: flex;
}
.work{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 10px;
}
.work img{
    margin: 10px;
}

/* Testimonial */
.testimonial{
    margin-bottom: 90px;
}
.testimonial h1{
    font-family: 'Bitter', serif;
    color: tomato;
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}
.reff{
    width: 50%;
    margin: auto;
    padding: 15px;
    text-align: center;
    box-shadow: 5px 3px 20px lightgray;
}
.reff img{
    width: 10%;
    border-radius: 50%;
}
.reff p{
    font-size: 15px;
}
.reff b{
    font-size: 22px;
    color: tomato;
}

/* Blog posts  */
.blog{
    margin-bottom: 90px;
}
.blog h1{
    font-family: 'Bitter', serif;
    color: tomato;
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}
.blog-wrapper{
    display: flex;
}
.posts{
   padding: 8px;
   margin: 10px;
   box-shadow: 5px 3px 20px lightgray;
}
.posts img{
    width: 100%;
}
.posts h3{
    font-family: 'Bitter', serif;
    font-size: 18px;
    text-align: center;
}
.posts p{
    font-size: 13px;
    text-align: center;
}
.posts a{
    font-size: 15px;
    text-align: center;
}